.title{
    text-align: center;
    position: relative;
    margin-top: 100px;
    font-size: xx-large;
}

.container{
    text-align: center;
    margin-top: 100px;
}

.greenteabingsu{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}

.greenteapicture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1));
    z-index: 1;
}

.greenteaexplanation{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 3;
    text-align: left;
}

.greenteaexplanation h1{
    color: #000;
}

.greenteaexplanation p{
    color: #fff;
}

.bingsu-btn{
    width: 280px;
    height: 360px;
    position: absolute;
    background: none;
    z-index: 2;
}

.bingsu-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}





.ugly{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}

.uglypicture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1));
    z-index: 1;
}

.uglyexplanation{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 3;
    text-align: left;
}

.uglyexplanation h1{
    color: #000;
}

.uglyexplanation p{
    color: #fff;
}

.ugly-btn{
    width: 280px;
    height: 360px;
    position: absolute;
    background: none;
    z-index: 2;
}

.ugly-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}





.genshin{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.26);
}

.genshinpicture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1));
    z-index: 1;
}

.genshinexplanation{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 3;
    text-align: left;
}

.genshinexplanation h1{
    color: #000;
}

.genshinexplanation p{
    color: #fff;
}

.genshin-btn{
    width: 280px;
    height: 360px;
    position: absolute;
    background: none;
    z-index: 2;
}

.genshin-btn:hover{
    background-color: rgba(255, 255, 255, 0.1);
}



.bing-font{
    font-family: 'Binggrae-Bold', sans-serif;
    color: magenta;
    font-size: 60px;
}